@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600&family=Poppins:wght@500;600;700;800&display=swap');

:root{
    --first-color : hsl(271,76%,53%);
    --title-color : hsl(0,0%,40%);
    --text-color : hsl(0,0%,60%);
    --body-color : hsl(0,0%,100%);
    --container-color : rgb(237, 237, 240);
    --border-color : hsl(0,0%,87%);
    --logo-color : hsl(170.25, 97.56%, 32.16%);
    --text-white : #fff;


    --body-font : 'Edu SA Beginner', cursive;
    --secondary-font : 'Poppins', sans-serif;

    --big-font-size : 56px;
    --h1-font-size : 50px;
    --h2-font-size : 32px;
    --h3-font-size : 24px;
    --large-font-size : 18px;
    --normal-font-size : 16px;
    --small-font-size : 15px;
    --smaller-font-size : 14px;
    --tiny-font-size : 12px;

    --weight-400 : 400;
    --weight-500 : 500;
    --weight-600 : 600;
    --weight-700 : 700;
    --weight-800 : 800;
}

.dark-theme{
    --title-color : hsl(0,0%,100%);
    --text-color : hsl(0,0%,80%);
    --body-color : hsl(0,0%,7%);
    --container-color : rgb(67, 66, 66);
    --border-color : hsl(0,0%,15%);
}

body, input, textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-500);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-family: var(--secondary-font);
    font-weight: var(--weight-700);
}

button, input, textarea{
    background-color: transparent;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
}

.grid{
    display: grid;
    gap: 30px;
}
.container{
    max-width: 900px; 
    margin-inline: auto;
}

.section_title{
    font-size: var(--big-font-size);
    font-weight: var(--weight-800);
    text-align: center;
    margin-bottom: 50px;
}

.button{
    display: inline-block;
    color: var(--title-color);
    border: 1px solid var(--first-color);
    padding: 15px 25px;
    border-radius: 35px;
    font-family: var(--secondary-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.button:hover{
    color: var(--text-white);
}

.button::before{
    content: "";
    position:absolute;
    inset: 0;
    background-color: var(--first-color);
    transform: translateX(100%);
    z-index: -1;
    transition: all 0.5s ease-out;
}

.button:hover::before{
    transform: translateX(0);
}

.button_icon{
    background-color: var(--first-color);
    position: absolute;
    inset-block: -2px;
    right: 0;
    width: 55px;
    border-radius: 50%;
    color: var(--text-white);
    font-size: var(--h3-font-size);
    text-align: center;
    line-height: 60px;
}

span{
    color: var(--first-color);
}

.heading{
    padding: 0 10px;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container stretches to at least the height of the viewport */
  }
  
  .footer {
    margin-top: auto;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--logo-color);
  }
  
  .footer ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  @media screen and (max-width: 840px) {
    .footer {
      flex-direction: column;
    }
  }